.footer {
    background-color: #6278F7;
    display: flex;
    justify-content: space-around;
    padding: 32px;
}

.footer .redes-sociais {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .organo-icon {
    display: flex;
    justify-content: center;
}

.footer .organo-icon img {
    transform: scale(0.7);
}

.footer .creditos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.footer .redes-sociais img {
    width: 16px;
    height: 16px;
}

.footer div {
    width: 20%;
}